@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,700');

@keyframes present-in {
	from {
		transform: translateX(-50px);
		opacity: 0;
	}

	to {
		transform: none;
		opacity: 1;
	}
}

@keyframes present-in-title {
	from {
		letter-spacing: .2em;
		opacity: 0;
	}

	to {
		letter-spacing: 0.27em;
		opacity: 1;
	}
}

::-webkit-scrollbar {
	width: 10px;
	height: 8px;
	background-color: #f5f5f500; /* or add it to the track */
}
::-webkit-scrollbar-thumb {
	background: #f3f3f3;
	border-left: 1px solid #060606;
}

body {
	margin: 0;
	background: #060606;
	color: #e2e2e2;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Roboto;
	font-weight: 300;
}

#navbar {
	position: sticky;
	top: 0;
	background: #060606;
	display: flex;
	justify-content: center;
	height: 50px;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,.1);
}

#navbar button {
	margin-right: 1em;
	background: transparent;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 1.1em;
	font-family: Dosis;
}

#navbar button:focus {
	outline: none;
    border-bottom: 1px dashed #383737;
    border-top: 1px solid transparent;
    box-sizing: border-box;
}

#navbar button:last-child {
	margin-right: 0;
}

.pane {
	background: #060606;
	padding: 2em;
	max-width: 1200px;
	width: calc(100% - 4em);
}

.pane-title {
	margin-top: 0;
	font-family: Roboto;
    font-weight: 300;
	text-transform: uppercase;
	font-size: 1.6em;
}

#pane-home {
	background: white;
	color: #060606;
	height: calc(1vh * 100 - 50px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 100%;
	max-width: none;
	box-shadow: inset 0 -48px 95px 0px rgba(0,0,0,0.1);
}

#pane-about {
	height: 200px;
}

#pane-castcrew {}

#pane-trailer {}

#pane-watch {
	height: 200px;
}

#pane-contact {
	min-height: calc(100vh - 2em);
}

.intro-prefix {
	margin-bottom: 1em;
	animation-name: present-in;
	animation-duration: 8s;
	animation-timing-function: cubic-bezier(0.21, 1.02, 0.36, 1.01);
	animation-fill-mode: both;
	font-family: Dosis;
}

.intro-title {
	text-transform: uppercase;
	font-size: 6em;
	font-weight: 300;
	animation-name: present-in-title;
	animation-duration: 3s;
	animation-timing-function: ease-out;
	animation-delay: 2s;
	animation-fill-mode: both;
	font-family: Dosis;
}

.member-primary {
	display: flex;
	margin-bottom: 2em;
}

.member-headshot {
	width: 200px;
	height: 240px;
	background: #aaaaaa;
	margin-right: 1em;
}

.member-bio {

}

.member-name {
	font-size: 1.4em;
}

.member-desc {
	margin-top: 1em;
    font-size: 0.9em;
    font-style: italic;
}

.member-secondary-list {
	display: flex;
	justify-content: center;
}

.member-secondary-list > div {
	margin-right: 3em;
}

.member-secondary-list > div:last-child {
	margin-right: 0;
}

.member-secondary {
	margin-bottom: 0.6em;
}

.video-container {
	text-align: center;
}

.floating-section-header {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
}

.navbar-underline {
	background: white;
	position: absolute;
	height: 1px;
	bottom: 7px;
}

.social-buttons {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
}